@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-pretendard);
  line-height: 1.6;
  letter-spacing: -0.01em;
}

:root {
  --color-main: #6366f1;
  --color-main-strong: #4f46e5;
  --color-main-soft: #a5b4fc;
}
